@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	
	padding: 0;
	margin: 0;
}
body {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	overflow-x: hidden;
	
	background: #ECF0E8 !important;
}
body::-webkit-scrollbar {
   	width: 15px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    background: rgba(59, 92, 10, .5);	/* 스크롤바의 색상 */
    opacity: 0.5;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);  /*스크롤바 뒷 배경 색상*/
}

.Header {
	width: 100%; height: 80px;
	
	background: #FFFFFF;
	
	font-size: 18px;
	background: #ECF0E8 !important;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	z-index: 10;
	
	position: fixed;
}
.Header>div, .Header .logout {
	display: flex;
	align-items: center;
}
.Header>div:first-child{ margin-left: 30px; }
.Header>div:last-child{ margin-right: 30px; }

.Header iconify-icon {
	margin-right: 10px;	
}

.Header .title, .Header .title span {
	font-family: 'Jua', sans-serif;
	font-size: 40px;
	color: #175023;	
	font-weight: 800;
}
.Header .title span {
	color: #6BA32D;	
}
.Header .title iconify-icon {
	font-size: 50px;
	z-index: 2;
}
.Header .title .yolk{
	width: 18px; height:18px;
	
	background: #FFC700;
	border-radius: 50%;
	
	position: absolute;
	transform: translate(17px, 0.7px);
}


.Header .greet {
	margin-right: 5vw;
}
.Header .greet iconify-icon {
	font-size: 40px;
}
.Header .logout {
	margin-left: 5vw;
}
.Header .logout iconify-icon {
	font-size: 25px;
	margin-right: 5px;
}
.Header .logout:hover {
	font-weight: 700;
}

.Nav {
	list-style: inside;
	
	font-size: 32px;
	text-align: left;
	color: #175023;	
	
	position: fixed;
	top: 15%;
	
	left: 50%;
	transform: translate(-235%, 0);
}
.Nav li{	
	padding-left: 50px;
	line-height: 65px;
	
	margin: 20px;
	margin-right: 0px;
	
	width: 250px; height: 65px;
	background: #ECF0E8;
	list-style-type: none;
	font-weight: 600;
}

.Nav .select {	
	list-style: none;
	
	color: #ECF0E8;
	
	background: rgba(59, 92, 10);
	box-shadow: 0px 4px 4px 0px #00000040;
	width: 250px; height: 65px;
	
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	transform: translate(-30px, 0);
	
	
	animation: selectNav 1s;
}
@keyframes selectNav {
	from {
		transform: translate(250px, 0);
	}
	to {
		transform: translate(-30px, 0);
		background: rgba(59, 92, 10);
		box-shadow: 0px 4px 4px 0px #00000040;
	}
}


.Nav .nonsel:hover {
	font-weight: bold;
}

.Content {
	width: 1200px;
	padding: 50px; 
	
	background: #FFFFFF;
	border-radius: 25px;
	box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
	
	position: absolute;
	top: 100px;
	
	right: 50%;
	transform: translate(60%, 0);
}


@media screen and (max-width: 1800px) { 
	body { zoom: 80%; }
}
@media screen and (max-width: 1700px) { 
	body { zoom: 75%; }
}
@media screen and (max-width: 11600px) { 
	body { zoom: 70%; }
}
@media screen and (max-width: 1500px) { 
	body { zoom: 65%; }
}
@media screen and (max-width: 1400px) { 
	body { zoom: 60%; }
}
@media screen and (max-width: 1300px) { 
	body { zoom: 55%; }
}
@media screen and (max-width: 1200px) { 
	body { zoom: 50%; }
}
@media screen and (max-width: 1100px) { 
	body { zoom: 45%; }
}

@media screen and (max-width: 800px) { 
	.Nav { display: none; }
	.Content { transform: translate(50%, 0); }
	.Header .greet { display: none; }
}