@charset "UTF-8";

body {
	background: #3B5C0A;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	overflow-x: hidden;
}