@charset "UTF-8";

body {
	background: #3B5C0A;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	
	overflow-y:hidden;
}

@media screen and (max-height: 900px) { 
	.Content { zoom: 0.8; }
}
@media screen and (max-height: 800px) { 
	.Content { zoom: 0.7;  }
}
@media screen and (max-height: 700px) { 
	.Content { zoom: 0.6;  }
}