@charset "UTF-8";

.Content {
	width: 600px;
	height: 950px;
	
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;	
	
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}


#move_login {
	font-weight: 500;
	font-size: 22px;
	line-height: 22px;
	color: #8B8B8B;
	
	transform: translate(-210px, -25px);
	
	margin-top: 20px;
}
#move_login:hover {
	font-weight: 600;
}
.title {
	font-size: 40px;
    line-height: 50px;
    font-weight: 700;
/*     color: #6BA32D;	 */
    
    margin-top: 20px;
    margin-bottom: 60px;
}

.input {
	margin: 20px;
	
	display: flex;
	justify-content: flex-start;
	
	font-size: 18px;
}

label {
	display: inline-block;
	
	width: 130px;
	
	font-size: 20px;
	line-height: 25px;
	
	margin-right: 20px;
}

#signup_form input[type="text"], 
#signup_form input[type="password"],
#signup_form input[type="email"], 
#signup_form input[type="number"] {
	width: 250px;  height: 25px;
	transform: translate(0, -5px);
	
	border: none;
	background: rgba(0, 0, 0, .05);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	
	padding: 5px 15px;
	
	font-size: 18px;
}

#signup_form input[type="number"] {
	width: 75px;
	margin-right: 10px;
}
#signup_form input[name="weight"] {
	margin-left: 20px;
}

#signup_form select {
	vertical-align: middle;
	appearance: none;
	
	overflow-y: hidden;
	outline: none;
	border: none;
	
	background: transparent;
	*background: transparent;
	-webkit-appearance: none;
	
	transform: translate(0, -5px);
}

#signup_form select:focus {
	outline: none;
}

#signup_form select option {
	vertical-align: middle;
	appearance: none;
	

	padding: 5px 15px;
	
	font-size: 18px;
	font-weight: 400;
	color: #8B8B8B;
}
#signup_form select option:focus,
 #signup_form select option:active {
	background: transparent;
	*background: transparent;
	-webkit-appearance: none;
	box-shadow: none;
}
#signup_form select option:checked {
	color: white;
	font-weight: 600;
	background: #6BA32D;
	border-radius: 50px;
}


#signup_form select[name="gender"] {
	overflow-y: hidden;
	width: 200px; height: 35px;
}
#signup_form select[name="gender"] option {
	display: inline-block;
}

#signup_form input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  
  border: 2px solid gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  
  margin: 5px;
}


#signup_form #submit {
	width: 380px; height: 55px;
	background: #6BA32D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
	margin: 15px;
	
	border: none;
	border-radius: 50px;
}
#signup_form #submit:active {
	box-shadow: none;
	
	filter: grayscale(50%);
	transform: translate(0, 2.5px);
}

hr {
	margin: 30px 0px;
}