@charset "UTF-8";

.myGroupView {
	background: rgba(255, 255, 100, 0.05) !important;
	
}

.myGroup_edit {

}

.myGroup_edit input[type="submit"] {
	right: 285px !important;
	background: #6BA32D !important;
	color: #FFFFFF !important;
}
.myGroup_edit input[value="삭제"] {
	right: 200px !important;
	background: rgba(0, 0, 0, .5) !important;
    color: white !important;
}
.myGroup_edit input[type="text"],
 .myGroup_edit textarea {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	
	padding: 5px 20px;
	font-size: 20px;
}
.myGroup_edit textarea,
.myGroup_edit input[type="text"]:not(input[name="cname"]),
.myGroup_edit tags {
	width: 450px;
	display: block;
	margin: 10px 0px;
}
.myGroup_edit tags {
	padding: 5px 5px;
	width: 500px;
}
.myGroup_edit input[name="cname"] {
	font-size: 24px;
    font-weight: 500;
}
 
.myGroup_edit textarea { height: 115px;  resize: none; }
.myGroup_edit .memberList { height: 380px !important; }


.myGroup_edit .groupMember tags {
	width: 450px; height: 360px;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	
	margin-top: 10px;
	overflow-y: auto;
	cursor: default;
}
.myGroup_edit .groupMember tag {
	width: 380px;
	height: 60px;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin: 10px;
	
	display: flex;
	
	line-height: 60px;	
	
	background: #FFFFFF;
	
	align-items: center;
}
.myGroup_edit .groupMember tag:hover { scale: 1.01; }
.myGroup_edit .groupMember tag:first-child {
	font-weight: 500;
	background: #6BA32D;
	color: white;
}
.myGroup_edit .groupMember tag .profile {
	width: 45px; height: 45px;
	border-radius: 45px;
	margin: 7.5px 50px;
	
	background: rgba(0, 0, 0, .25);
	overflow: hidden;
}
.myGroup_edit .groupMember tag x {
	width: 30px; height: 30px;
	font-size: 24px;
	margin-right: 20px;
}
.myGroup_edit .groupMember tag:first-child x{
	display: none;
}
.myGroup_edit .groupMember tags>span {
	display: none;
}