@charset "EUC-KR";
@import url("https://fonts.googleapis.com/css?family=Inter:400, 700");

.home {
	align-items: flex-start;
	background-color: var(--chelsea-cucumber);
	border: 1px none;
	display: flex;
	width: 1280px;
}

.hidden,
.hidden * {
	pointer-events: none;
	visibility: hidden;
}