@charset "UTF-8";

.mypage {
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	
	justify-content: center;
}

.edit:hover {
	font-weight: 600; 
}


.mypage .profile { 
	height: 200px;
	display: flex;
	flex-wrap: wrap;
/* 	align-items: center; */
	
	margin-top: 20px;
}

.mypage hr {
	width: 90%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.mypage .stat {
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	zoom: 90%;
}
.mypage .seeAlso {
	width: 300px; 
	height: 50px; line-height: 50px;
	background: #C6C6C6;
	border-radius: 50px;
	
	font-weight: 600;
	font-size: 24px;
	color: white;
	text-align: center;
	
	position: sticky;
	bottom: 20px;
	margin: 50px;
}
html {
  scroll-behavior: smooth;
}
.mypage .polra {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	width: 900px;
	height: 3000px;
	
	zoom: 120%;
}