@charset "UTF-8";
	.Content {
		width: 1200px;
		padding: 50px; 
		
		background: #FFFFFF;
		border-radius: 25px;
		box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
		
		position: absolute;
		top: 100px;
		
		right: 50%;
		transform: translate(60%, 0);
	}

	.topDiv {
		display: grid;
		grid-template-columns: 600px 350px 400px;
		margin-bottom: 100px;
	}
	
	.percentContainer {
		display: flex;
		flex-direction: column;
	}
	
	.cardTitle {
		font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		font-weight: bold;
		line-height: 40px;
		
		color: #3B5C0A;
		
		margin-bottom: 46px;
	}
	
	.cardContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 30px;
		width: 100%;
		justify-content: start;
	}
	
	/*.recommCard .item.front {
        position: absolute;
        transform: rotateY(0deg);
    }

    .recommCard:hover .item.front {
        transform: rotateY(180deg);
    }

    .recommCard .item.back {

        transform: rotateY(-180deg);
    }*/
    
    /*style*/
    .card .back {
	    background: #504949;
		box-shadow: inset 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	}
	
	.backContainer {
		position: relative;
		top: 30px;
		width: 210px;
		height: 180px;
		
		background: #1D1717;
		box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
		
		display: flex;
        justify-content: center;
        align-items: center;
	}
	
	.backContainer ul {
   		list-style:none;
	}
	
	.backContainer ul li {
   		color: #FFFFFF;
	}
	
	.card {
	  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
	  /*overflow:hidden;*/
	  width: 210px;
	  height: 280px;
	  text-align: center;
	
	  /*animation*/
	  width: 100%; 
	  height: 100%; 
	  position: relative;
	  transition: .4s;
	  transform-style: preserve-3d;
	}	
	
	.flip { 
	  width: 210px;
	  height: 280px;
	  perspective: 1100px;
	}
	
	.front, .back {
	  position: absolute;
	  width: 100%; 
	  height: 100%;
	  backface-visibility: hidden;
	}
	
	/* 뒷면은 사전에 미리 뒤집기*/
	.back {
	  transform: rotateY(180deg);
	}
	
	/* 호버 시 뒤집기*/
	.flip:hover .card {
	  transform: rotateY(180deg);
	}
	
	.card-img {
		/*width: 13rem;
		height: 9rem;*/
		width: 190px;
		height: 190px;
		object-fit:cover;
		margin: 17px 0px 10px 0px;
		vertical-align: middle;
	}
	
	/*.card-text {
		margin: 0px 21px 10px 21px;
		font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		text-align: left;
	}
	
	.kcal {
		font-family: 'Jua';
		font-size: 16px;
	}*/
	
	.graphComment {
		font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		font-weight: bold;
		line-height: 30px;
		
		margin-left: 50px;
	}
    
    /*.recommContainer > span {
	    font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		font-weight: bold;
		line-height: 30px;
		
		margin-left: 15px;
	}
    
	.recommCard {
        perspective: 300px;
        margin-top: 8px;
    }

    .recommCard .item {
        width: 230px;
        height: 310px;
        border: 1px solid #828282;
        font-size: 35px;
        backface-visibility: hidden;
        transition: 1s;
        border-radius: 50px;
        
        background: #A7E074;
        border: 1px solid #A7E074;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .recommCard .item.front {
        position: absolute;
        transform: rotateY(0deg);
    }

    .recommCard:hover .item.front {
        transform: rotateY(180deg);
    }

    .recommCard .item.back {

        transform: rotateY(-180deg);
    }
    
    .item.back .title {
        font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		
		margin-bottom: 33px;
    }
    .item.back .content {
    	font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
    }

    .recommCard:hover .item.back {
        transform: rotateY(0deg);
    }*/
    .recommContainer > span {
	    font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		
		margin-left: 15px;
	}
    
	.recommCard {
        width: 205px;
        height: 276px;
        perspective: 300px;
        
        margin-top: 8px;
    }

    .recommCard .item {
        width: 230px;
        height: 310px;
        border: 1px solid #828282;
        font-size: 35px;
        backface-visibility: hidden;
        transition: .8s;
        border-radius: 50px;
        
        background: #A7E074;
        border: 1px solid #A7E074;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .recommCard .item.front {
        position: absolute;
        transform: rotateY(0deg);
    }

    .recommCard:hover .item.front {
        transform: rotateY(180deg);
    }

    .recommCard .item.back {

        transform: rotateY(-180deg);
    }
    
    .item.back .title {
        font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		
		margin-bottom: 33px;
    }
    .item.back .content {
    	font-family: 'Jua';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
    }

    .recommCard:hover .item.back {
        transform: rotateY(0deg);
    }