@charset "UTF-8";

.stats_graph_box {
  position: relative;
  padding-bottom: 20px;
}
.stats_graph_box .graph {
  position: relative;
  height: 46px;
  /*background: #f0f0f0;*/
  border-radius: 40px;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
.stats_graph_box .graph:after {
  content: "";
  display: block;
  clear: both;
}
.stats_graph_box .graph .bar {
  position: relative;
  display: inline-block;
  height: 46px;
  /*background: #ddd;*/
  border-radius: 4px;
  overflow: hidden;
}
.stats_graph_box .graph .bar + .bar {
  margin-left: -5px;
  padding-right: 5px;
  box-sizing: content-box;
  border-radius: 0px 4px 4px 0px;
}
.stats_graph_box .graph .bar.carb {
  z-index: 1;
  background: #6BA32D;
}
.stats_graph_box .graph .bar.protein {
  background: #96CC39;
}
.stats_graph_box .graph .bar.fat {
  background: #C0EC83;
}
.stats_graph_box .graph .bar.kcal {
  background: #EAF1E4;
}
.stats_graph_box .graph .bar.clear .desc {
  color: #000;
}
.stats_graph_box .graph .bar .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.stats_graph_box .graph .bar .desc em {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.stats_graph_box .graph .bar .desc dd {
  margin: 0;
}
.stats_graph_box .fixed_data {
  position: absolute;
  top: 52px;
  width: 120px;
  margin: 0;
  text-align: center;
  font-size: 10px;
  color: #000;
}
.stats_graph_box .fixed_data:before {
  content: "";
  position: absolute;
  top: -53px;
  left: 50%;
  width: 1px;
  height: 50px;
  border-left: 1px dashed #bababa;
}
.stats_graph_box .fixed_data .item {
  float: left;
}
.stats_graph_box .fixed_data .item + .item dt {
  padding-left: 8px;
}
.stats_graph_box .fixed_data .item + .item dt:before {
  content: "/";
  position: absolute;
  top: 0;
  left: 2px;
}
.stats_graph_box .fixed_data .item + .item dd:before {
  content: "/";
  position: absolute;
  top: 2px;
  left: -1px;
}
.stats_graph_box .fixed_data dt {
  position: relative;
}
.stats_graph_box .fixed_data dd {
  margin: 0;
  position: relative;
}
.stats_graph_box .fixed_data dd em {
  font-style: normal;
  font-size: 13px;
  font-weight: 700;
}