@charset "EUC-KR";

* {
	box-sizing: content-box !important;
}

.Nav { transform: translate(-50%, 0) translate(-635px, 0); }

.Content {
	width: 1200px;
	padding: 50px; 
	
	background: #FFFFFF;
	border-radius: 25px;
	box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
	
	position: absolute;
	top: 100px;
	
	right: 50%;
	transform: translate(60%, 0);
}

.topDiv {
	margin-left: 100px;
	margin-right: 100px;
}

.postContainer {
	display: flex;
	flex-direction: row;
	
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.posting {
	margin-left: 15px;
	width: 100%;
	
	display:flex;
	flex-direction: column;
}

.info_line {
	width: 100%;
	margin-top : 5px;
	margin-bottom: 10px;
	
	vertical-align: middle;
}

.writer {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 15px;
	color: rgba(0,0,0,.75);
}

.btnContainer {
	width: 100%;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.deletePostBtn {
	float: right;
	
	color: white;
	background-color: rgba(59, 92, 10);;
	border: 1px solid rgba(59, 92, 10);;
	padding: 5px 10px;
	border-radius:10px;
}

.time {
	float: right;
	vertical-align: baseline;
	font-size: 24px;
}

.react {
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}

.commentCountContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	font-size: 24px;
	color: rgba(0,0,0,.75);
	font-weight: bold;
}

/*foodContainer*/
.foodContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	gap: 20px;
	margin-bottom: 15px;
}

.food {
	display:inline-block;
	height: 40px;
	
	border: 1px solid #6BA32D;
	border-radius: 90px;
	
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Noto Sans KR', sans-serif;
	
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	
	padding-left: 10px;
	padding-right: 10px;
}

.contentWrap {
	display: flex;
	flex-direction: row;
	
	margin-top: 30px;
	margin-bottom: 30px;
}

.leftContainer {
	width: 50%;
	margin-right: 50px;
}

.rightContainer {
	width: 50%;
}

.photo img {
	width: 450px;
	height: 450px;
	object-fit: cover;
}

.photo {
	margin-bottom: 20px;
}

div .bi-chat-dots {
	display: flex;
  	justify-content: right;	
  	
  	cursor: pointer;
}

svg .bi-chat-dots {
	cursor: pointer;
}

.commentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
}

.commentCount {
	height: 20;
}

.commentList {
	height: 250;
	margin-top: 40px;
}

.commentText {
	margin-left: 20px;
	width: 100%;
	color: rgba(0,0,0,.75);
}

.commentWriter {
	font-size: 18px;
	color: rgba(0,0,0,.75);
	font-weight: bold;
}

.commentTime {
	color: #939393;
	float: right;
}

.inputComment input {
  width: 80%;
  height: 32px;
  font-size: 15px;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.75);
  padding-left: 10px;
}

#replyBtnLabel {
	cursor: pointer;
}

.commentModalBtn {
	float: right;
	color: #939393;
	cursor: pointer;
	
	margin-top: 20px;
	border: 0px;
	background-color: white;
}

.moveTop {
	position: fixed;
	right: 100px;
	bottom: 100px;
}

/*modal*/
.modal-header {
	border-bottom: 0px !important;
}

.modal-body {
	padding: 30px 50px !important;
}

.modal-content {
	border-radius: 25px !important;
}

.modal-footer {
	border-top: 0px !important;
}

.modal-wrap {
	display: flex;
	flex-direction: row;
}

.modal-header .btn-close {
	margin-top: 25px !important;
	margin-right: 25px !important;
}

.modal-content-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal .bi-person-circle {
	margin-right: 25px;
}

.modalMessage {
	font-size: 25px;
	margin-bottom: 15px;
}

.modal-content-wrap textarea{
	width: 90%;
	border: 2px solid #3B5C0A;
	
	margin-bottom: 20px;
}

.modal-body .modalFoodContainer .food img:hover {
	fill: white;
	cursor: pointer;
}

.modalFoodContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	gap: 20px;
	margin-bottom: 15px;
}

.modal .food {	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn-upload{
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.addFoodBtn svg, .addFoodBtn span {
	cursor: pointer;
}

.fileContainer #file {
  display: none;
}

#fileName {
	border: 0px;
}

.btn-primary {
	background-color:#3B5C0A !important;
	border-color: #3B5C0A !important;
}

.modal-footer .btn-primary {
	width: 100px;
	border-radius: 90px;
	
	margin-right: 50px;
	margin-bottom: 50px;
}

/*commentModal*/
#commentModal .modal-title {
	margin-top: 25px;
	margin-left: 30px;
}

.modal-backdrop {
	width: 100% !important;
	height: 100% !important;
}