@charset "utf-8";
 
* {
	padding: 0;
	margin: 0;
}
.span{ display: block;}

.Content {
	display: flex;
    flex-direction: column;
    align-items: center;
}
/*Header*/
.groupHeader{
	display: flex;
	justify-content: center;
	float: left;
}
.groupSearch {
	width: 600px;
	height: 45px;
	padding: 5px;
	margin: 20px 100px 58px 170px;
	box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 179px;
	background-color: rgba(245, 245, 245);
	border:none;
	position: relative;
	padding-left: 20px;
	
/* 	transform: translate(-20px, 0); */
	
	font-size: 20px;
}
.searchIcon {
	position: absolute;
	top: 83px;
	left: 800px;
	
	font-size: 30px;
	color: #547A1D;
}
.searchIcon:hover{cursor: pointer;}

#newGroup_button{ 
	width: 180px; height: 45px;
	background: #547A1D;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 120px;
	
	border: none;
	
	font-size: 24px;
	font-weight: 400;
	line-height: 45px;
	color: white;
	
	text-align: center;
}
#newGroup_button:active {
	transform: translate(0, 5px);
	box-shadow: none;
}
#newGroup_button:hover { cursor: pointer; }

.Content > .line {
	width: 1000px;
	height: 2px;
	background-color: #e9e9e9;
	margin-top: -10px;
	margin-bottom: 50px;
}
.groupList_f {
	width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

