@charset "UTF-8";

#groupView {
	width: 580px; height: 240px;
	background: #FFFFFF;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    margin: 15px;
    color: rgba(0,0,0,.75);
    zoom: 95%;
}
#groupView > div {
	margin: 7px 10px;
}
#groupView .title {
	font-size: 28px;
	font-weight: 600;
}
#groupView .goal {
	font-size: 20px;
	font-weight: 500;
}
#groupView tags {
	border: none;
}
#groupView tags tag{
	font-size: 18px;
	font-weight: 600;
	--tag-text-color: #FFFFFF;
	
	--tag-bg: #81B44F;
	--tag-hover: #81B44F;
	--tag-border-radius: 50px;
	--readonly-striped: #81B44F;
	
	margin: 5px;
	--tag-pad: 5px 15px;
}

#groupView .line {
	width: 2px;
	height: 180px;
	background-color: #e9e9e9;
	margin: 10px;
	margin-left: -50px;
}
#groupView .groupImage {
	color: #547A1D;
	font-size: 100px;
	
	margin: 0px 20px;
}
#groupView .groupCount {
	background: rgba(0, 0, 0, .05);
	border-radius: 50px;
	padding: 5px 10px;
	margin: 3px;

	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

#groupView:hover {
	scale: 1.05;
}
#groupView:active {
	scale: 0.95;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
