@charset "UTF-8";

#groupUpdate {
	display: none;
 	position: absolute;
  	width: 100%; height: 100%;
 	background: rgba(0, 0, 0, .5);
 	z-index: 500;
 	
 	top: 0; left: 0;
}
 
#groupUpdate form {
 	position: absolute;
  	width: 1000px; /*height: 550px;*/
 	background: #FFFFFF;
 	border-radius: 50px;
	filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
	
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
/*     justify-content: center; */
}
 
#groupUpdate form .title {
 	display: flex;
 	margin: 30px;
 	margin-bottom: 0px;
}
#groupUpdate form .title iconify-icon {
	font-size: 60px;
	color: #3B5C0A;
	margin: 10px;
}
#groupUpdate form .title h2 {
	font-size: 42px;
	font-weight: 600;
	margin: 10px;
}

#groupUpdate form .groupInputs {
	display: inherit;
	padding: 10px 50px;
	
    flex-wrap: wrap;
}
#groupUpdate form .groupInputs-left > div,  #groupUpdate form .groupInputs-right > div{
	margin-bottom: 20px;
}
#groupUpdate form .groupInputs-right {
	margin-left: 30px;
}

#groupUpdate form h3{
	font-weight: 600;
	font-size: 22px;
	color: #929191;
	
	margin-bottom: 15px;
}

#groupUpdate form input[type="text"],
 #groupUpdate .memberInput select, 
 #groupUpdate .hastagInput tags,
 #groupUpdate .infoInput textarea {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	
	padding: 5px 20px;
}

#groupUpdate form .nameInput input {
	font-size: 24px;
}

#groupUpdate .memberInput {
	display: flex;
	align-items: center;
	
	font-weight: 600;
	font-size: 22px;
	color: #929191;
	
}
#groupUpdate .memberInput iconify-icon{
	font-size: 42px;
	color: #3B5C0A;	
	
	margin-right: 10px;
}
#groupUpdate .memberInput h3 {
	line-height: 42px;
	transform: translate(0, 5px);
}
#groupUpdate .memberInput select {
	text-align: center;
	font-size: 18px;
	margin: 0px 15px;
}
#groupUpdate form .memberInput select option {
	zoom: 120%;
}

#groupUpdate .hashtagInput tags {
	width: 400px;
	padding: 5px 10px;
	font-size: 18px;
}
#groupUpdate .hashtagInput tags tag {
	--tag-bg: #81B44F;
	--tag-remove-bg: #D3E2E2;
	
	--tag-invalid-bg: red;
	--tag-invalid-color: #FFFFFF;

	font-weight: 600;
	font-size: 18px;
	--tag-text-color: #FFFFFF;
	--tag-text-color--edit: black;
	
	--tag-border-radius: 50px;
}
#groupUpdate .hashtagInput tags tag x{
	width: 24px; height: 24px;
	font-size: 18px;
}

#groupUpdate .goalInput input {
	width: 400px;
	font-size: 18px;
}

#groupUpdate .infoInput textarea {
	font-size: 18px;
	width: 400px; height: 130px;
	resize: none;
}

#groupUpdate hr {
	width: 80%;
	
	position: absolute;
	left: 50%; transform: translate(-50%, 0%);
}

#groupUpdate .buttons {
	width: 900px;
	display: flex;
    justify-content: space-evenly;
}

#groupUpdate input[type="submit"], #groupUpdate #cancel {
	width: 200px; height: 50px;
	
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: none;
	
	margin: 20px;
	margin-bottom: 30px;
	
	font-size: 24px;
	font-weight: 700;
}
#groupUpdate input[type="submit"]:active, #groupUpdate #cancel:active {
	transform: translate(0px, 5px);
	box-shadow: none;
}

#groupUpdate input[type="submit"] {
	background: #6BA32D;
	color: #FFFFFF;
}
#groupUpdate #cancel {
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.5);
}