@charset "UTF-8";

#modal {
	display: none;
	position: fixed;
}
.modal-overlay {
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, .5);
	z-index: 500;
	
	position: absolute;
}

#modal .modal_window {
	width: 500px;
	
	background: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

#modal .cancel {
	position: absolute;
	
	font-size: 30px;
	color: rbga(0, 0, 0, .5);
	
	top: 30px; left: 435px;
}
#modal .cancel:hover {
	color: red;
}

#modal .modal_window .title {
	display: flex;
	margin: 40px;
	margin-bottom: 20px;
}
#modal .modal_window .title iconify-icon {
	font-size: 36px;
	margin-right: 10px;
	
	color: #547A1D;
}
#modal .modal_window .title h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 36px;
}

#modal .modal_window .stat_list {
	width: 420px; height: 400px;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	
	margin: 35px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

#modal .modal_window .stat_list .record {
	width: 350px; height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	
	margin: 10px 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	font-size: 24px;
}
#modal .modal_window .stat_list .record .date, #modal .modal_window .stat_list .record .weight{
	margin: 20px;
}
#modal .modal_window .stat_list .record .weight {
	transform: translate(20px, 0px);
}


#modal .modal_window .stat_list .record iconify-icon {
	position: relative;
	
	font-size: 30px;
	color: red;
	
	top: -10px; left: 10px;
	opacity: 0;
}

#modal .modal_window .stat_list .record:hover {
	scale: 1.05;
}

#weightStat_update {
	width: 430px; height: 70px;
	background: white;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	
	margin: 35px;
	
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}
#weightStat_update input[type="date"], #weightStat_update input[type="number"] {
	width: 150px; height: 35px;
	font-size: 20px;
	text-align: center;
	margin: 10px;
	
	background: rgba(0, 0, 0, .05);
	border-radius: 10px;
	border: none;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
}
#weightStat_update input[type="number"] {
	width: 80px; 
}
#weightStat_update h3 {
	display: inline;
	font-size: 20px;
	font-weight: 600;
}
#weightStat_update input[type="submit"], #weightStat_update input[type="button"] {
	width: 75px; height: 35px;
	background: #81B44F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 20px;
	
	border: none;
	
	font-size: 20px;
	font-weight: 400;
	line-height: 35px;
	color: white;
	
	transform: translate(0, -2.5px);
}
#weightStat_update input[type="submit"] {
	position: absolute;
	width: 120px; font-weight: 600;
	transform: translate(0, 67.5px);
	background: #547A1D;
}

#weightStat_update input[type="submit"]:active, #weightStat_update input[type="button"]:active {
	transform: none;
	box-shadow: none;
}

#weightStat_update input[type="submit"]:active {
	transform: translate(0, 70px);
}

#weightStat_update .hidden {
	display: none;
}